body {
  padding-top: 50px;
}

ul.nav {
  font-family: arvo ;
}
.jumbotron {
  text-align: center;
  background-color: #f74c3c;
}

.jumbotron h1 {
  margin-top: 0px ;
  color: #ecf0f1;

}
.jumbotron p {
  margin-top: 0px ;
  color: #ecf0f1;

}

#who {
  background-color: #f5f5f5;
}
#con {
    background-color: #f5f5f5;
}

.homepage {
  text-align: center;

}

.homepage h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: arvo;
  color:  #f74c3c;
}
.but {
  font-family: arvo;
  color:  #f74c3c;
  font-family: arvo;
}
.but hover {
  color: #f74c3c ;
  opacity: .8;
}
.homepage p {
  font-size: 21px;
  font-family: "Helvetica Neue";
}
.homepage a {
  text-decoration: none;
  color: #f74c3c ;
}
.homepage a:hover {
  text-decoration: none;
  color: #f74c3c ;
  opacity: .9;
}

.homepage hr {
	border-top: 1px solid #e74c3c;
	width: 160px;
	margin-top: 0px;
}
#img {
    border: 10px solid transparent;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 10px solid transparent;
    padding: 15px;
  }
  footer {
    margin-top: 30px;
    background-color: #f74c3c;

  }
